<div class="flexbox converter-body">
  <div class="flexbox header">
    <p id="name-logo" class="header-section">Home Converter</p>
    <p class="header-section">Converter</p>
    <p class="header-section">FAQ</p>
  </div>
  <div class="flexbox converter">
    <div class="flexbox items-menu">
      <form class="flexbox" id="chooseConvert">
          <input type="radio" (click)="toggle('cooking')" name="convValue" id="cooking" checked />
          <label for="cooking">Кулинария</label>
          <input type="radio" (click)="toggle('shoes')" name="convValue" id="shoesSize" />
          <label for="shoesSize">Размер обуви</label>    
      </form>
      
    </div>
    <div class="flexbox items" [class.hide]='hideDivs.cooking'>
      <div class="flexbox ingredient">
        <label for="ingredientSelect">
          Выберите ингредиент
        </label>
        <select id="ingregientSelect">
          <option value="sugar" selected >сахар</option>
          <option value="flour">мука</option>
          <option value="water">вода</option>
          <option value="sault">соль</option>
          <option value="powder">сода</option>
        </select>
      </div>
      <div class="flexbox metrics">
        <div class="flexbox metric">
          <p class="metrics-name">
            Американские и британские единицы
          </p>
            <div class="flexbox dimension" *ngFor="let dimension of usaDimensions">
              <p class="regularP">{{ dimension.name }}</p>
              <input type="number" value="{{ dimension.relToGram }}"/>
            </div>
            <button class="convert-button">Конвертировать</button>
        </div>
        <div class="flexbox metric">
          <p class="metrics-name">
            Европейские единицы
          </p>
          <div class="flexbox dimension" *ngFor="let dimension of euroDimensions">
            <p class="regularP">{{ dimension.name }}</p>
            <input type="number" value="{{ dimension.relToGram }}"/>
          </div>
            <button class="convert-button">Конвертировать</button>
        </div>
        
      </div>
    </div>
    <div class="flexbox items" [class.hide]='hideDivs.shoes'>
      <div class="lengths">
        <div class="length">
          <label for="foot-length-input">
            Длина стопы
          </label>
          <select name="length-metrics-input" class="length-metrics" id="length-metrics-input">
            <option value="mm" selected>мм</option>
            <option value="sm">см</option>
            <option value="inch">дюйм</option>
          </select>
        </div>
        <div class="length">
          <label for="foot-length-input">
              Длина колодки
          </label>
          <select name="shoe-metrics-input" class="length-metrics" id="shoe-metrics-input">
            <option value="mm" selected>мм</option>
            <option value="sm">см</option>
            <option value="inch">дюйм</option>
          </select>
        </div>
      </div>
      <div class="countries-metrics">
        <div class="country"></div>
        <div class="country"></div>
        <div class="country"></div>
      </div>
    </div>
  </div>
</div>